
*, *::after, *::before {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

html {
    margin-top: 50px;
    margin-bottom: 0px;
}

body {
    background-color: rgb(221, 221, 221);
    width: 40%;
    padding: 20px;
}

.platilla-factura-venta-header {

    text-align: center;
}

@page :first {
    margin-top: 0px;
}