@font-face {
    font-family: OpenSans;
    src: url("../../fuentes/OpenSans.ttf");
}

* {
    font-family: OpenSans;
}


body {
background-color: rgb(255, 255, 255);
}

.container-table {
padding: 0 0 2rem;
overflow: scroll;
}

table {
min-width: 100%;
margin: auto;
}

thead {
font-size: 1rem;
top: 0;
color: rgb(255, 255, 255);
background-color: #6c63ff;
text-align: center;
}

thead td {
padding: .3rem;
}

tbody td {
min-width: min-content;
max-width: 300px;
word-break: break-word;
padding-left: 1rem;
}

.table-td--comentarios {
text-align: justify;
}

tbody tr {
height: 50px;
font-size: .8rem;
}

tbody tr:nth-child(even) {
background-color: #6b63ff48;
}