@import url(main.css);

.transparent-container-modal {
  min-width: 100vw;
}

input[type="button"]:disabled {
  background-color: #201f3a83;
  cursor: progress;
}
input[type="button"]:disabled:hover {
  background-color: #201f3a83;
}

input, select {
  margin-bottom: 1.2rem;
  width: 100%;
  padding: 12px 25px;
  font-size: 1rem;
}

.iniciar-sesion {
  min-height: 100vh;
  max-width: 100%;
  min-width: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  position: relative;
}

.iniciar-sesion-modal-bienvenido {
  position: absolute;
  top: -100vh;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  z-index: 10000;
}

.iniciar-sesion-modal-bienvenido__morado,
.iniciar-sesion-modal-bienvenido__blanco {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.iniciar-sesion-modal-bienvenido__morado {
  background-color: var(--color-nav-background);
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: movimientoModalBienvenido_morado 4s forwards; */
}
.iniciar-sesion-modal-bienvenido__blanco {
  /* animation: movimientoModalBienvenido_blanco 2.5s forwards; */
  background-color: var(--color-card-background);
}

@keyframes movimientoModalBienvenido_morado {
  50% {
    transform: translateY(100vh);
  }
  70% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes movimientoModalBienvenido_blanco {
  100% {
    transform: translateY(100%);
  }
}

.iniciar-sesion-modal-bienvenido__text {
  color: var(--color-card-background);
  font-size: 10vw;
}

.iniciar-sesion__container {
  min-height: 100vh;
  max-height: 700px;
  z-index: 1;
  display: flex;
  align-items: center;
}

/*Codigo css para el logo*/

.iniciar-sesion__logo-container {
  min-height: 500px;
  text-align: center;
  display: grid;
  grid-template-rows: 60% 40%;
  align-content: space-around;
}

.iniciar-sesion__logo-letras-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iniciar-sesion__logo-letras {
  width: 300px;
  height: 300px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  grid-template-areas:"x S d"
                      "F c I"
                      "b A g";
}

.iniciar-sesion__logo-letras::before {
  content: '';
  display: block;
  border-radius: 100%;
  transform: rotate(45deg);
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;

  animation-name: logo-circulo-animation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.iniciar-sesion__logo-container-letra {
  background-color: var(--color-nav-background);
  border-radius: 15px;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-card-background);
  line-height: 100px;

  animation-name: logo-union-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.iniciar-sesion__logo-container-letra:nth-child(1) {
  grid-area: S;
  transform: translate(-200%,200%);
}
.iniciar-sesion__logo-container-letra:nth-child(2) {
  grid-area: I;
  transform: translate(-165%,100%);
}
.iniciar-sesion__logo-container-letra:nth-child(3) {
  grid-area: A;
  transform: translate(65%,0);
}
.iniciar-sesion__logo-container-letra:nth-child(4) {
  grid-area: F;
  transform: translate(300%,100%);
}

.iniciar-sesion__logo-titulo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iniciar-sesion__logo-titulo {
  font-size: 2.5rem;
  color: var(--color-nav-background);
}

.iniciar-sesion__logo-titulo-container,
.iniciar-sesion__logo-letras-container {
  opacity: 0;
  animation-name: logo-fade-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.iniciar-sesion__logo-letras-container {
  transform: translateY(-100%);
}

.iniciar-sesion__logo-titulo-container {
  transform: translateY(100%);
  max-width: 65%;
  margin: auto;
}


/* Animacion para el logo */

@keyframes logo-fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes logo-union-animation {
  to {
    transform: translate(0,0);
  }
}

@keyframes logo-circulo-animation {
  0% {
    border-top: 6px solid var(--color-nav-background);
  }
  25% {
    border-right: 6px solid var(--color-nav-background);
  }
  50% {
    border-bottom: 6px solid var(--color-nav-background);
  }
  75% {
    border-left: 6px solid var(--color-nav-background);
  }
  100% {
    border: 6px solid var(--color-nav-background);
  }
}

.iniciar-sesion__flex-container {
  height: 100%;
  display: flex;
  border-top: 4px solid var(--color-nav-background);
  padding: 5vh 3vw 10vh;
  position: relative;
}

.iniciar-sesion__titulo {
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 500;
}

.iniciar-sesion__container-form {
  text-align: center;
  margin: auto;
}

.iniciar-sesion__form{
  width: 90%;
  margin: auto;
}

.iniciar-sesion__boton-ingresar {
  width: 75%;
  margin-bottom: 1.2rem;
}

.inicio-sesion__a-olvidaste-contrasenia {
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: none;
  color: inherit;
}
.inicio-sesion__a-olvidaste-contrasenia:hover {
  text-decoration: underline;
}

/* -------------------------------- Estilos para el error de login ------------------------------------------- */

.iniciar-sesion-error-container {
  width: 50%;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: -1;
  transform: translateX(-120%);
}

.iniciar-sesion-error-container__text-container {
  padding: 10px;
  border-top: 4px solid var(--color-nav-background);
  border-bottom: 4px solid var(--color-nav-background);
  transform: translateX(10px);
}

@keyframes animacionErrorLogin {
  to {
    transform: translateX(0);
  }
}

/* ------------------------------------ RESTABLECER CONTRASEÑA ----------------------------------------------- */

 .restablecer-contrasenia__dialog {
  max-width: 450px;
  color: inherit;
}

.restablecer-contrasenia__titulo {
  margin-bottom: 2rem;
}

.restablecer-contrasenia__boton-verificar:hover {
  background-color: var(--color-button-background-hover);
}

.restablecer-contrasenia__boton-verificar {
  cursor: pointer;
}

.restablecer-contrasenia__dialog-atras {
  font-size: 1.6rem;
  font-weight: bolder;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 5px;
  user-select: none;
  color: var(--color-nav-background);
}

.restablecer-contrasenia__dialog--2 .restablecer-contrasenia__parrafo {
  text-align: center;
}

.restablecer-contrasenia__form-2 {
  display: flex;
  justify-content: space-between;
}
.restablecer-contrasenia__input-valor {
  border: none;
  border-bottom: 3px solid var(--color-nav-background);
  outline: none;
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
  margin: 0 5px 0 5px;
  transition: background-color 0.5s;
  padding: 5px 0;
}

.restablecer-contrasenia__form-2 input:focus {
  background-color: var(--color-main-background);
}

.restablecer-contrasenia__form-3 .restablecer-contrasenia__input-contraseña {
  outline: none;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.restablecer-contrasenia-dialog-3_text-no-coincide{
  display: none;
  text-align: center;
  color: red;
}

.restablecer-contrasenia-form-3__input-1-container {
  position: relative;
}

.restablecer-contrasenia-dialog-3-alert-password {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -25px;
  left: 105%;
  transition: opacity .5s;
}

.pass-correcto,
.pass-incorrecto {
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 15px;

    visibility: hidden;
    opacity: 0;
}

.pass-correcto {
    background-image: url(../imagenes/correcto.png);
}

.pass-incorrecto {
    background-image: url(../imagenes/incorrecto.png);
}

.restablecer-contrasenia-dialog-3-alert-password__alert {
  min-width: 230px;
  font-size: .8rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-text);
  color: var(--color-button-text);
  position: relative;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.restablecer-contrasenia-dialog-3-alert-password__alert::before {
  content: '';
  display: block;
  position: absolute;
  top: 33px;
  left: -42px;
  width: 45px;
  height: 10px;
  border: 17px solid var(--color-text);
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;

}

.restablecer-contrasenia-dialog-3-alert-password__alert-title {
  font-size: 1.5rem;
}

.restablecer-contrasenia-dialog-3-alert-password__alert-list-ul {
  padding-left: 10%;
}

.restablecer-contrasenia-dialog-3-alert-password__alert-list-ul li{
  list-style: disc;
}
