@import url(main.css);

.nav-container {
    min-width: 1700px
}

.nav__li.inventarioMenuCards {
    border-bottom: 2px solid var(--color-button-text);
}

.grid-container-main {
    grid-template-rows: 150px min-content minmax(700px,75vh);
    grid-template-areas:"titulo"
                        "filtro"
                        "contenido";
}


.salidas__filtro {
    color: var(--color-title-h1);
    display: grid;
    grid-template-columns: 83% 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:"filter-titulo filter-titulo"
                        "filter-inputs filter-gen-repo";
    grid-gap: 2rem;
}

.salidas__filtro-titulo {
    font-size: 2.2rem;
    grid-area: filter-titulo;
}

.salidas__filtro-form {
    grid-area: filter-inputs;
    display: grid;
    grid-template-columns: repeat(2, 22%) 1fr;
    grid-template-areas:"inp-prod-id inp-prov-name date-des-has"
                        "inp-prod-name sel-tipo-sal date-des-has";
    grid-gap: 2rem;
}

.salidas__filtro-producto-id {
    grid-area: inp-prod-id;
}

.salidas__filtro-producto-nombre {
    grid-area: inp-prod-name;
}

.salidas__filtro-proveedor-nombre {
    grid-area: inp-prov-name;
}

.salidas_filtro-tipo-salida {
    grid-area: sel-tipo-sal;
}

.salidas_filtro-container-desde-hasta{
    height: 100%;
    grid-area: date-des-has;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.salidas_filtro-container-desde-hasta__title {
    text-align: center;
    font-size: 2rem;
}

.salidas_filtro-container-desde-hasta__inputs {
    display: flex;
    justify-content: space-evenly;
}

.salidas_filtro-desde,
.salidas_filtro-hasta {
    width: 45%;
    height: 41px;
    position: relative;
}
.salidas_filtro-desde::before,
.salidas_filtro-hasta::before {
    content: '';
    position: absolute;
    right: 18%;
}

.salidas_filtro-desde::before{
    content: 'Desde';
}
.salidas_filtro-hasta::before{
    content: 'Hasta';
}


.salidas__filtro-gen-repo {
    grid-area: filter-gen-repo;
}


.salidas__boton-agregar-container {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 1.5vw;
    right: 3vh;
    border-radius: 50px;
}

.salidas__boton-agregar {
    padding: 0;
    width: 100%;
    height: 100%;
}


.salidas__boton-agregar-simbol {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    line-height: 52px;
    transition: transform 1s;
    border-radius: 50px;
    background-color: var(--color-nav-background);
    border: 2px solid var(--color-button-text);
}

.salidas__boton-agregar-simbol:hover {
    transform: rotate(360deg);
}


.salidas__boton-agregar-txt {
    word-break: normal;
    text-align: left;
    background-color: var(--color-nav-background);
    border-radius: var(--border-card-radius);
    display: block;
    width: 50%;
    color: transparent;
    position: absolute;
    left: 10%;
    top: 15px;
    padding: 5px 15px;
    transition: transform 1s, color 1s, width 1s;
    z-index: -1;
}

.salidas__boton-agregar-simbol:hover + .salidas__boton-agregar-txt {
    transform: translateX(-80px);
    color: inherit;
    width: 150%;
}

/*---------------- Estos son los estilos para los modals de agregar salida ----------------*/

.salidas__modal-agregar-salida-form,
.salidas__modal-agregar-salida-info-confirmacion {
    grid-template-columns: repeat(2,minmax(200px,380px));
    grid-template-rows: repeat(5,max-content);
    grid-template-areas:'cod com'
                        'pro com'
                        'can com'
                        'cos ent';
}

.salidas__modal-agregar-salida-title {
    margin-bottom: 3rem;
}

.salidas__modal-agregar-salida-form-item:nth-child(1),
.salidas__modal-agregar-salida-info-item-confirmacion:nth-child(1) {
    grid-area: cod;
}
.salidas__modal-agregar-salida-form-item:nth-child(2),
.salidas__modal-agregar-salida-info-item-confirmacion:nth-child(2) {
    grid-area: pro;
}
.salidas__modal-agregar-salida-form-item:nth-child(3),
.salidas__modal-agregar-salida-info-item-confirmacion:nth-child(3) {
    grid-area: can;
}
.salidas__modal-agregar-salida-form-item:nth-child(4),
.salidas__modal-agregar-salida-info-item-confirmacion:nth-child(4) {
    grid-area: cos;
}
.salidas__modal-agregar-salida-form-item:nth-child(5),
.salidas__modal-agregar-salida-info-item-confirmacion:nth-child(5) {
    grid-area: ent;
}
.salidas__modal-agregar-salida-form-item:nth-child(6) {
    grid-area: com;
}

.salidas__modal-agregar-salida-info-item-confirmacion:nth-child(6) {
    grid-area: com;
    align-self: center;
}