@import url(main.css);

.menu-nav-title {
    color: var(--color-button-text);
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: bold;
}
.cards-flex-container { 
    justify-content: center;
    max-width: 1400px;
}
.card {
    width: 300px;
    max-height: 350px;
}

/*---------------Estilos para el modal de informacion del perfil de usuario------------*/

.menu-info-usuario-modal {
    max-width: 1200px;
}

.menu-info-usuario-modal__container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 100%;
    gap: 0 3rem;
}

.menu-info-usuario-modal__flex-item {
    /* border: 1px solid; */
    min-width: 230px;
    max-width: 300px;
}

.menu-info-usuario-modal__title {
    margin-bottom: 3rem;
}

.menu-info-usuario-modal__container-img {
    width: 250px;
    height: 300px;
    margin: auto;
    margin-bottom: 4rem;
    border-radius: var(--border-card-radius);
    overflow: hidden;
}

.menu-info-usuario-modal__container-img img{
    object-fit: cover;
}