@import url(main.css);

.nav__li:nth-child(7) {
    border-bottom: 2px solid var(--color-button-text);
}

.usuarios__lista-usuario {
    grid-template-columns: 20% 1fr 12%;
}

.usuarios__lista-usuario-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:"doc tel eps"
                        "nom cor rh"
                        "ape dir rol";
}

.usuarios__lista-usuario-info.documento {
    grid-area: doc;
}
.usuarios__lista-usuario-info.nombres {
    grid-area: nom;
}
.usuarios__lista-usuario-info.apellidos {
    grid-area: ape;
}
.usuarios__lista-usuario-info.eps {
    grid-area: eps;
}
.usuarios__lista-usuario-info.telefono {
    grid-area: tel;
}
.usuarios__lista-usuario-info.correo {
    grid-area: cor;
}
.usuarios__lista-usuario-info.direccion {
    grid-area: dir;
}
.usuarios__lista-usuario-info.rh {
    grid-area: rh;
}
.usuarios__lista-usuario-info.rol,
.usuarios__lista-usuario-info.password {
    display: flex;
    flex-direction: column;
}
.usuarios__lista-usuario-info.rol {
    grid-area: rol;
    justify-content: flex-end;
}
.usuarios__lista-usuario-info.password {
    grid-area: pas;
    justify-content: flex-start;
}

.usuarios__lista-usuario-img {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    overflow: hidden;
}

.dialog-btn {
    width: 30%;
}

/*-------------------------Estilos de los modals de agregar usuarios----------------------------------*/


.usuarios__modal-agregar-usuario {
    min-width: 1000px;
    max-width: 1300px;
}

.usuarios__modal-agregar-usuario-title {
    margin-bottom: 3rem;
}

.usuarios__modal-agregar-usuario-form {
    grid-template-columns: repeat(3,minmax(300px,400px));
    grid-template-rows: repeat(5,5rem);
    grid-template-areas:'doc cor img'
                        'nom dir img'
                        'ape tel pas'
                        'eps rh  rol'
                        'btn btn btn';
    gap: 2rem 2.5rem;
    align-items: center;
}

.usuarios__modal-agregar-usuario-form-item:nth-child(1) {
grid-area:doc;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(2) {
grid-area:cor;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(3) {
grid-area:nom;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(4) {
grid-area:dir;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(5) {
grid-area:ape;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(6) {
grid-area:tel;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(7) {
grid-area:eps;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(8) {
grid-area:rh;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(9) {
grid-area:img;
display: flex;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(10) {
    grid-area:pas;
    position: relative;
}

.pass-correcto,
.pass-incorrecto {
    display: block;
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    top: 40px;
    right: 8px;

    visibility: hidden;
    opacity: 0;
}

.pass-correcto {
    background-image: url(../imagenes/correcto.png);
}

.pass-incorrecto {
    background-image: url(../imagenes/incorrecto.png);
}

.usuarios-alert-password-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 105%;
    transition: opacity .5s;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.usuarios-alert-password-container__alert {
    min-width: 230px;
    font-size: .8rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-text);
    color: var(--color-button-text);
    position: relative;
}

.usuarios-alert-password-container__alert::before {
    content: '';
    display: block;
    position: absolute;
    top: 33px;
    left: -42px;
    width: 45px;
    height: 10px;
    border: 17px solid var(--color-text);
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;

}

.usuarios-alert-password-container__alert-title {
    font-size: 1.5rem;
}

.usuarios-alert-password-container__alert-list-ul {
    padding-left: 10%;
}

.usuarios-alert-password-container__alert-list-ul li{
    list-style: disc;
}

.usuarios__modal-agregar-usuario-form-item:nth-child(11) {
    grid-area:rol;
}
.usuarios__modal-agregar-usuario-form-item:nth-child(12) {
    grid-area:btn;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.usuarios-modal-agregar-usuario-form-img-container {
    width: 11rem;
    height: 11rem;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center;
}

.usuarios-modal-agregar-usuario-form-img-container__file {
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    bottom: 0;
    border-radius: 0;
    border: none;
    opacity: 0;
    transition: opacity .5s, background-color .5s;
    cursor: pointer;
}

.usuarios-modal-agregar-usuario-form-img-container__file:hover {
    background-color: var(--color-background-modal);
    opacity: 1;
}


.usuarios-modal-agregar-usuario-form-img-container__file::after {
    content: '';
    display: block;
    background-image: url(../imagenes/editar-icono.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    filter: invert();
}


/*Estilos para el modal de confirmacion*/


.usuarios__modal-agregar-usuario-info-confirmacion {
    grid-template-columns: repeat(3,minmax(300px,400px));
    grid-template-rows: repeat(4,5rem);
    grid-template-areas:'doc cor img'
                        'nom dir img'
                        'ape tel pas'
                        'eps rh  rol'
                        'btn btn btn';
    gap: 2rem 2.5rem;
    align-items: center;
}

.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(1) {
grid-area:doc;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(2) {
grid-area:cor;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(3) {
grid-area:nom;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(4) {
grid-area:dir;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(5) {
grid-area:ape;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(6) {
grid-area:tel;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(7) {
grid-area:eps;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(8) {
grid-area:rh;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(9) {
grid-area:img;
display: flex;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(10) {
    grid-area:pas;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(11) {
    grid-area:rol;
}
.usuarios__modal-agregar-usuario-info-item-confirmacion:nth-child(12) {
    grid-area:btn;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.usuarios-modal-agregar-usuario-info-item-confirmacion__img-container {
    width: 11rem;
    height: 11rem;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}


/*-------------------------Estilos de los modals de editar usuarios----------------------------------*/


.usuarios__modal-editar-usuario {
    min-width: 1000px;
    max-width: 1300px;
}

.usuarios__modal-editar-usuario-title {
    margin-bottom: 3rem;
}

.usuarios__modal-editar-usuario-form {
    grid-template-columns: repeat(3,minmax(300px,400px));
    grid-template-rows: repeat(5,5rem);
    grid-template-areas:'doc cor img'
                        'nom dir img'
                        'ape tel img'
                        'eps rh  rol'
                        'btn btn btn';
    gap: 2rem 2.5rem;
    align-items: center;
}

.usuarios__modal-editar-usuario-form-item:nth-child(1) {
grid-area:doc;
}
.usuarios__modal-editar-usuario-form-item:nth-child(2) {
grid-area:cor;
}
.usuarios__modal-editar-usuario-form-item:nth-child(3) {
grid-area:nom;
}
.usuarios__modal-editar-usuario-form-item:nth-child(4) {
grid-area:dir;
}
.usuarios__modal-editar-usuario-form-item:nth-child(5) {
grid-area:ape;
}
.usuarios__modal-editar-usuario-form-item:nth-child(6) {
grid-area:tel;
}
.usuarios__modal-editar-usuario-form-item:nth-child(7) {
grid-area:eps;
}
.usuarios__modal-editar-usuario-form-item:nth-child(8) {
grid-area:rh;
}
.usuarios__modal-editar-usuario-form-item:nth-child(9) {
grid-area:img;
display: flex;
}

.usuarios-modal-editar-usuario-form-img-container {
    width: 13rem;
    height: 13rem;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
    position: relative;
    text-align: center;
}

.usuarios-modal-editar-usuario-form-img-container__file {
    position: absolute;
    left: 0;
    right: 0;
    top: -40px;
    bottom: 0;
    border-radius: 0;
    border: none;
    opacity: 0;
    transition: opacity .5s, background-color .5s;
    cursor: pointer;
}

.usuarios-modal-editar-usuario-form-img-container__file:hover {
    background-color: var(--color-background-modal);
    opacity: 1;
}


.usuarios-modal-editar-usuario-form-img-container__file::after {
    content: '';
    display: block;
    background-image: url(../imagenes/editar-icono.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    filter: invert();
}

.usuarios__modal-editar-usuario-form-item:nth-child(10) {
    grid-area:rol;
}
.usuarios__modal-editar-usuario-form-item:nth-child(11) {
    grid-area:btn;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

/*Estilos para el modal de confirmacion*/


.usuarios__modal-editar-usuario-info-confirmacion {
    grid-template-columns: repeat(3,minmax(300px,400px));
    grid-template-rows: repeat(4,5rem);
    grid-template-areas:'doc cor img'
                        'nom dir img'
                        'ape tel img'
                        'eps rh  rol'
                        'btn btn btn';
    gap: 2rem 2.5rem;
    align-items: center;
}

.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(1) {
grid-area:doc;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(2) {
grid-area:cor;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(3) {
grid-area:nom;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(4) {
grid-area:dir;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(5) {
grid-area:ape;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(6) {
grid-area:tel;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(7) {
grid-area:eps;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(8) {
grid-area:rh;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(9) {
grid-area:img;
display: flex;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(10) {
    grid-area:rol;
}
.usuarios__modal-editar-usuario-info-item-confirmacion:nth-child(11) {
    grid-area:btn;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.usuarios-modal-editar-usuario-info-item-confirmacion__img-container {
    width: 13rem;
    height: 13rem;
    border-radius: 100px;
    overflow: hidden;
    margin: auto;
    text-align: center;
}



/*-------------------------Estilos del modal de usuarios inhabilitados----------------------------------*/

.usuarios__modal-usuarios-inhabilitados {
    min-width: 1300px;
    max-width: 1400px;
}

.usuarios__modal-usuarios-inhabilitados-container-gen-repo {
    margin-bottom: 3rem;
}

.usuarios__modal-usuarios-inhabilitados-title {
    margin-bottom: 3rem;
}

.usuarios__modal-usuarios-inhabilitados-table-container {
    height: 550px;
}

.usuarios-inhabilitados__table {
    min-width: 150%;
}



