@import url(main.css);

.transparent-container-modal,
.nav-container {
    min-width: 1700px;
}


.nav__li:nth-child(4) {
    border-bottom: 2px solid var(--color-button-text);
}

.boton:not(.boton-cerrar-sesion-container__boton, .dialog-btn, .dialog-process-result__btn) {
    margin: 0;
    width: 80%;
}

.grid-container-main {
    height: 100%;
    grid-template-columns: minmax(500px, 40%) minmax(400px, 60%);
    grid-template-rows: 150px minmax(calc(475px - 1.5rem),50vh) 130px;
    grid-template-areas:"titulo   lista"
                        "registro lista"
                        "registro botones";
    
}

.registrar-ventas__container-title {
    grid-area: titulo;
}

.registrar-ventas__container-registro {
    grid-area: registro;
    height: 100%;
}

.registrar-ventas__registro {
    height: 100%;
    display: flex;
    align-items: center;
}

.registrar-ventas__registro-form {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(3,20%) 30%;
    grid-template-areas:"lbl-1       inp-id"
                        "lbl-2       inp-nom"
                        "box-cant    btn-prod"
                        "btn-agregar btn-agregar";
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
    text-align: center;
}

.registrar-ventas__registro-form * {
    width: 100%;
}

.registrar-ventas__registro-label:nth-child(1) {
    grid-area: lbl-1;
}

.registrar-ventas_registro-id {
    grid-area: inp-id;
}
.registrar-ventas__registro-label:nth-child(2) {
    grid-area: lbl-2;
}
.registrar-ventas_registro-nombre {
    grid-area: inp-nom;
}
.registrar-ventas__container-cant {
    grid-area: box-cant;
    display: flex;
    align-items: center;
}
.registrar-ventas__registro-boton-buscar-producto {
    grid-area: btn-prod;
}
.registrar-ventas__registro-form .registrar-ventas__registro-boton-agregar {
    grid-area: btn-agregar;
    width: 80px;
    height: 80px;
    padding: 0;
}

.registrar-ventas__registro-boton-agregar::after {
    content: '+';
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    line-height: 75px;
    transition: transform 1s;
}

.registrar-ventas__registro-boton-agregar:hover::after {
    transform: rotate(360deg);
}

.registrar-ventas__container-lista-productos {
    grid-area: lista;
    grid-template-rows: min-content 1fr min-content;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    gap: 1.5rem;
}

.registrar-ventas__lista-producto {
    display: grid;
    grid-template-columns: 20% 1fr 35% 10%;
    padding-right: 2rem;
    padding-left: 0;
}

.registrar-ventas__lista-producto-precios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.registrar-ventas__lista-producto-precio {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.registrar-ventas__lista-producto-precio * {
    width: 50%;
}

.registrar-ventas__lista-producto-botones {
    justify-content: space-around;
    align-items: center;
}

.registrar-ventas__lista-producto-boton:hover {
    cursor: pointer;
}


.registrar-ventas__lista-productos-totales {
    display: flex;
}

.registrar-ventas__total {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.registrar-ventas__total * {
    flex-grow: 1;
    color: var(--color-button-text);
}


.registrar-ventas__container-botones {
    grid-area: botones;
    display: flex;
    justify-content: space-around;
}

.registrar-ventas__container-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}


/*-------------------------Estilos del modal para ver los productos registrados en sistema----------------------------------*/

.registrar-ventas__modal-lista-filtro-productos {
    min-width: 1600px;
    max-width: 1900px;
}


.registrar-ventas__modal-lista-filtro-productos-title {
    margin-bottom: 2rem;
}

.registrar-ventas__modal-lista-filtro-productos-table-container {
    height: 550px;
}

.registrar-ventas__modal-lista-filtro-productos__table {
    min-width: 120%;
}

.registrar-ventas__container-filter-lista-productos {
    margin-bottom: 3rem;
    padding-top: 0;
    padding-bottom: 0;
}

.registrar-ventas__filtro-form {
    grid-template-columns: repeat(4, 1fr);
}

.registrar-ventas__filtro-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.registrar-ventas__filtro-titulo {
    margin-bottom: 2rem;
}

.registrar-ventas__filtro-label {
    margin-bottom: 1rem;
}

.registrar-ventas__table-tboby-tr:hover {
    background-color: initial;
    color: initial;
    cursor: pointer;
}

.registrar-ventas__table .registrar-ventas__table-stock-red {
    background-color: rgb(160, 0, 0);
}
.registrar-ventas__table .registrar-ventas__table-stock-green {
    background-color: rgb(0, 146, 0);
}
.registrar-ventas__table .registrar-ventas__table-stock-orange {
    background-color: rgb(204, 133, 0);
}

td.registrar-ventas__table-stock-red, 
td.registrar-ventas__table-stock-green, 
td.registrar-ventas__table-stock-orange {
    text-align: center;
    font-weight: bolder;
    font-size: 1.1rem;
    color: white;
    padding: 0;
}

.registrar-ventas__table tr.registrar-ventas__table-stock-red td, 
.registrar-ventas__table tr.registrar-ventas__table-stock-green td, 
.registrar-ventas__table tr.registrar-ventas__table-stock-orange td {
    color: white;
}

/*--------- Estos son los estilos para poder cancelar una venta ---------------*/

.registrar-ventas__modal-cancelar-venta {
    min-width: 500px;
    max-width: 600px;
}

.registrar-ventas__modal-cancelar-venta-text {
    margin-bottom: 3rem;
}
/*--------- Estos son los estilos para de los modals para poder confimar una venta ---------------*/

.registrar-ventas__modal-confirmar-venta-title {
    margin-bottom: 3rem;
}

.registrar-ventas__modal-confirmar-venta-form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.registrar-ventas__modal-confirmar-venta-item-title{
    margin-bottom: .5rem;
}

.registrar-ventas__modal-confirmar-venta-item--total {
    font-size: 2rem;
}
.registrar-ventas__modal-confirmar-venta-item{
    margin-bottom: 1rem;
}

.registrar-ventas__modal-confirmar-venta {
    min-width: 800px;
    max-width: 900px;
}

.registrar-ventas__modal-cancelar-venta-text {
    margin-bottom: 3rem;
}

.registrar-ventas__modal-venta-fallo-por-cliente-btn-registrar,
.registrar-ventas__modal-venta-fallo-por-cliente-btn-anonimo {
    width: 30%;
}

.registrar-ventas__modal-agregar-cliente {
    min-width: 700px;
    max-width: 800px;
}

.registrar-ventas__modal-agregar-cliente-title {
    margin-bottom: 3rem;
}



