@import url(main.css);

.menu-nav-title {
    color: var(--color-button-text);
    font-size: 3rem;
    letter-spacing: 1rem;
    font-weight: bold;
}

main {
    align-self: center;
}

.cards-flex-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    text-align: center;
}

.card {
    width: 300px;
    margin: 15px;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    max-height: 350px;
    padding: 20px 10px;
    border-radius: 10px;
    transition: background-image 1s;
}

.card__title {
    color: var(--color-nav-background);
}


.card__img {
    width: 45%;
    height: 100%;
}

.card:hover .card__img{
    width: 50%;
}
.card__button {
    width: 80%;
    max-height: 80%;
    min-height: 50px;
    padding: 0;
}

.card__button a {
    display: block;
    height: 100%;
    line-height: 50px;
    color: var(--color-button-text);
}
