@import url(main.css);

.grid-container-main {
    width: 90%;
    height: 100%;
    grid-template-columns: minmax(1000px, 70%) minmax(400px, 30%);
    grid-template-rows: 150px 700px 150px;
    grid-template-areas:"titulo  titulo"
                        "tabla   filtro"
                        "botones botones";
}

.productos__container-title {
    grid-area: titulo;
}

.productos__container-table {
    grid-area: tabla;
}

.productos__container-filter {
    grid-area: filtro;
}

.productos__filtro {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    grid-gap: 60px;
    color: var(--color-title-h1)
}

.productos__filtro-titulo {
    font-size: 2.2rem;
}

.productos__filtro-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.productos__filtro-label {
    text-align: left;
}

.productos__filtro-form *:not(.productos__filtro-label) {
    width: 70%;
    align-self: center;
    padding: 5px 15px;
    margin: 0;
}

.productos_filtro-gen-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

table {
    min-width: 200%;
}



.productos__container-botones {
    grid-area: botones;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.productos__container-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:not(.boton-cerrar-sesion-container__boton) {
    margin: 0;
    width: 80%;
}

/*-------------------------Estilos del modal de inhabilitar producto----------------------------------*/

.productos__container-modal {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-modal);
    display: flex;
    align-items: center;
}

.productos__modal-inhabilitar-producto {
    margin: auto;
    min-width: 800px;
    max-width: 900px;
    padding: 2rem;  
}
.productos__modal-inhabilitar-producto-title {
    font-size: 3rem;
    margin-bottom: .8rem;
    text-align: center;
}

.productos__modal-inhabilitar-producto-text {
    margin-bottom: 4rem;
    text-align: center;
}

.productos__modal-inhabilitar-producto-info {
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(2,minmax(200px,400px));
    grid-gap: 1rem 3rem;
}

.productos__modal-inhabilitar-producto-info-item {
    word-break: break-all;
}

.productos__modal-inhabilitar-producto-btns-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.productos__modal-inhabilitar-producto-btns-container .boton {
    width: 40%;
}




