@import url(main.css);

.grid-container-main {
    width: 90%;
    height: 100%;
    grid-template-columns: minmax(1000px, 70%) minmax(400px, 30%);
    grid-template-rows: 150px 700px 150px;
    grid-template-areas:"titulo  titulo"
                        "tabla   filtro"
                        "botones botones";
}

.productos__container-title {
    grid-area: titulo;
}

.productos__container-table {
    grid-area: tabla;
}

.productos__container-filter {
    grid-area: filtro;
}

.productos__filtro {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    grid-gap: 60px;
    color: var(--color-title-h1)
}

.productos__filtro-titulo {
    font-size: 2.2rem;
}

.productos__filtro-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.productos__filtro-label {
    text-align: left;
}

.productos__filtro-form *:not(.productos__filtro-label) {
    width: 70%;
    align-self: center;
    padding: 5px 15px;
    margin: 0;
}

.productos_filtro-gen-repo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
}

table {
    min-width: 200%;
}

tbody tr:hover {
    background-color: var(--color-button-background);
    color: var(--color-button-text);
    cursor: pointer;
}



.productos__container-botones {
    grid-area: botones;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.productos__container-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:not(.boton-cerrar-sesion-container__boton) {
    margin: 0;
    width: 80%;
}

