@import url(main.css);

.productos__container-title {
    text-align: center;
    line-height: 150px;
    font-size: 2.3rem;
    grid-area: titulo;
    color: var(--color-title-h1);
}

.productos__container-table {
    grid-area: tabla;
    text-align: center;
    padding: 10px 5px;
    overflow: scroll;
}

.tabla {
    width: 200%;
    margin: auto;
    border-spacing: 0;
}

.table-td {
    border: 1px solid black;
    padding: 5px 5px;
}

.productos__container-filter {
    grid-area: filtro;
    width: 100%;
    justify-self: center;
    padding: 2rem;
}

.productos__filtro {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    grid-gap: 60px;
    color: var(--color-title-h1)
}

.productos__filtro-titulo {
    font-size: 2.2rem;
}

.productos__filtro-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.productos__filtro-label {
    text-align: left;
}

.productos__filtro-form *:not(.productos__filtro-label) {
    width: 70%;
    align-self: center;
    padding: 5px 15px;
    margin: 0;
}

.productos_filtro-gen-repo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.productos__filtro-subtitulo-reporte:hover {
    text-decoration: underline;
}

.productos_filtro-gen-repo-img {
    width: 4rem;
    height: 4rem;
}

.productos__container-botones {
    grid-area: botones;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.productos__container-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:not(.boton-cerrar-sesion-container__boton) {
    margin: 0;
    width: 80%;
}

